@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

:root {
    --body-font: "DM Sans", sans-serif;
    --heading-font: "Playfair Display", serif;
}

* {
    font-family: var(--body-font);
}

h1 {
    font-family: var(--heading-font);
    font-size: clamp(4rem, 5vw, 5rem);
}

.section__title {
    font-size: clamp(3rem, 5vw, 4rem);
    color: var(--content-primary);
    text-transform: uppercase;
}